@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
}

.calculator {
  width: 40%;
  color: #000000;
}

.heading h3 {
  font-size: 25px;
  color: #0f80be;
}
#message {
  font-size: 20px;
  color: #0f80be;
}

.input-group {
  margin: 20px 0;
}

.input-group label {
  display: block;
}

.input-group input,
.input-group button,
.input-group select {
  width: 70%;
  padding: 12px;
  border: 1px solid #000400;
  outline: none;
  border-radius: 5px;
}
.input-group button {
  background-color: #0b99c1;
  color: #000804;
}

.results {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.09);
  width: 50%;
  margin: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}